.App {
  text-align: center;
}

.container {
  margin-top: 10vh;
}

.nav-links,
.footer-links {
  margin: 0 auto;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1s;
  position: relative;
  width: 100%;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.welcome-text {
  position: absolute;
  background-color: white;
  top: 65%;
  left: 0;
  padding: 10px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}


#git,
#email {
  display: inline-block;
  padding-left: 10px;
}

@media (max-width: 800px) {

  .animate__animated.animate__fadeIn {
    --animate-duration: 1s;
    width: 100%;
  }
  
  .layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .welcome-text {
    margin-top: 50px;
    background-color: white;
  }

  #intro {
    font-size: 1.5rem;
    padding: 10px;
  }

  #brand {
    font-size: 1rem;
    padding: 5px;
    margin: 0 auto;
  }

  /* .footer-nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  } */

  .footer-links {
    font-size: .8rem;
  }
  

 }
